@font-face {
    font-family: 'BigShouldersDisplay';
    src: url('/fonts/BigShouldersDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'LexendDeca';
    src: url('/fonts/LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
